* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
/* <----- header -----> */
.ctn-touken {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-top: 10px;
}
.iconTouken {
  width: 250px;
  height: 85px;
}
/* <----- header -----> */
/* <----- main -----> */
.Invitacion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url("../img//bg-invitacion.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 72px;
  padding-right: 72px;
}
.ctnInv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 70vh;
}
.ctn-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* <----- main -----> */
.ctn-text {
  line-height: 45px;
  text-align: start;
  font-size: 40px;
  margin-bottom: 60px;
  overflow: hidden;
}
.image-container {
  height: auto;
  width: 40%;
  padding: 20px;
  justify-content: center;
}
.titleB2C {
  overflow: hidden;
  font-size: 31px;
  text-align: left;
  line-height: 56px;
  margin-right: 145px;
  height: 328px;
  width: 746px;
  font-family: "Aileron";
  font-weight: 400;
}

.titleB2B {
  overflow: hidden;
  font-size: 31px;
  text-align: left;
  line-height: 56px;
  margin-right: 145px;
  height: 328px;
  width: 746px;
  font-family: "Aileron";
  font-weight: 400;
}
.toukenTwo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.gif {
  border-radius: 1rem;
  height: auto;
  height: 415px;
  width: 75%;
  background-image: url("../img/gif.gif");
  background-size: cover;
  background-position-x: center;
  -webkit-box-shadow: 9px 8px 0px -1px rgba(113, 77, 182, 1);
  -moz-box-shadow: 9px 8px 0px -1px rgba(113, 77, 182, 1);
  box-shadow: 14px 14px 0px -1px rgba(113, 77, 182, 1);
}
.img-gif {
  position: relative;
  display: flex;
  background-position: 5%;
  border-radius: 1rem;
  height: auto;
  border: solid 2px #ffff54;
}

.textPositionB2B {
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: "underline";
}
/* <----- form -----> */
form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.text-input {
  border-radius: 50px;
  border: 2px solid #81cc00;
  width: 526px;
  height: 80px;
  padding: 10px;
  margin-top: 59px;
  font-size: 25px;
  font-family: "Aileron", sans-serif;
  opacity: 0.8;
}
.text-input:focus-visible {
  outline: none;
  border: 2px solid #81cc00;
}
::placeholder {
  padding: 10px;
}

.textInput {
  border-radius: 50px;
  border: 2px solid #81cc00;
  width: 526px;
  height: 80px;
  padding: 10px;
  margin-top: 59px;
  font-size: 25px;
  font-family: "Aileron", sans-serif;
  opacity: 0.8;
}
.textInput:focus-visible {
  outline: none;
  border: 2px solid #81cc00;
}
::placeholder {
  padding: 10px;
}

.send-mail {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 99px;
  height: 70px;
  width: 415px;
  font-size: 30px;
  color: white;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 400;
  background: #7a33ff;
  border: 1.5px solid #000000;
  box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
}
.btn-submit:hover {
  background-color: #bd99ff;
  cursor: pointer;
}

.text-social-input {
  border-radius: 70px;
  border: 2px solid #81cc00;
  width: 520px;
  height: 80px;
  padding: 10px;
  margin-top: 59px;
  font-size: 25px;
  font-family: "Aileron", sans-serif;
  opacity: 0.8;
}

.text-social-input:focus-visible {
  outline: none;
  border: 2px solid #81cc00;
}

.select-input {
  border-radius: 50px;
  border: 2px solid #81cc00;
  width: 420px;
  height: 80px;
  padding: 10px;
  margin-top: 59px;
  font-size: 25px;
  font-family: "Aileron", sans-serif;
  opacity: 0.6;
}

option {
  color: black;
  opacity: 1;
}

.select-input:focus-visible {
  outline: none;
  border: 2px solid #81cc00;
}

.value-input {
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.opciones-input {
  width: 50px;
  font-size: 18px;
}
/* <----- form -----> */
/* <----- footer ------> */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
}
.ctn-logo-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.logo-footer {
  width: 45%;
}
.ctn-red-social {
  display: flex;
  align-items: center;
  width: 295px;
  height: 60px;
  border: solid 1.5px #000000;
  overflow: hidden;
  opacity: 0.5;
  border-radius: 40px;
}

.imgFooter {
  width: 100%;
}
.ctnRedSocial {
  display: flex;
  align-items: center;
  border-radius: 40px;
  height: 60px;
  width: 100px;
  padding: 5px, 0px, 5px, 0px;
  border-top: solid 1.5px #000000;
  border-right: solid 1.5px #000000;
  border-bottom: solid 1.5px #000000;
  border-left: 0px;
  box-shadow: 6px 2px 8px 2px rgba(221, 255, 0, 0.5);
}
.proyect {
  display: flex;
  align-items: center;
}
.myproyect {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: #4e33ff;
}
.logo-ft {
  padding: 10px;
  width: 44px;
  height: 44px;
}
.link-red-social {
  margin: 0px 11px 0px 11px;
}
.text-ft {
  font-weight: bold;
  margin-left: 19px;
  font-size: 20px;
  color: #000000;
  font-family: "Aileron", sans-serif;
}
/* <----- footer ------> */
@media screen and (max-width: 850px) {
  .title {
    width: 100%;
  }
  .toukenTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
  }
  .logo-ft {
    margin-left: 0rem;
  }
  .gif {
    display: none;
  }
  .send-mail {
    /* padding: 0.5rem; */
    align-items: center;
  }
  .ctn-text {
    margin-bottom: 40px;
    font-size: 30px;
  }
}
@media only screen and (max-width: 768px) {
  .select-input,
  .text-social-input {
    width: 500px;
  }
  .text-social-input {
    width: 500px;
  }
  .invitacion {
    width: 100%;
  }
  .ctn-inv {
    width: 80%;
  }
  footer {
    flex-direction: column;
  }
  .gif {
    display: none;
  }
  .btn-submit {
    margin-top: 20px;
    width: 75%;
  }
  .logo-ft {
    margin-left: 0rem;
  }
  .proyect {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .none {
    display: none;
  }
  .image-container {
    display: none;
  }
  .ctn-text {
    margin-bottom: 40px;
  }

  .Invitacion {
    background-image: url("../img/bg-invitacion-responsive.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 650px) {
  footer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .ctn-touken {
    /* height: 75px; */
    margin-top: 0px;
  }
  .titleB2B {
    /* margin: 16px 16px 0px 16px; */
    width: 305px;
    height: 185px;
    font-size: 20px;
    line-height: 28px;
  }
  .titleB2C {
    /* margin: 0px 10px 0px 10px; */
    width: 310px;
    height: 195px;
    font-size: 20px;
    line-height: 28px;
  }
  .text-ft {
    text-align: center;
    font-size: 13px;
    line-height: 20px;
  }
  .proyect {
    margin: 10px 16px 0px 16px;
    width: 328px;
    height: 44px;
    padding: 0px 15px 0px 0px;
  }
  .logo-ft {
    margin: 0px 18px 0px 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #4e33ff;
  }

  .text-input,
  .text-social-input,
  .select-input {
    width: 300px;
    height: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0px 20px 0px;
  }
  .textInput {
    width: 300px;
    height: 56px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0px 20px 0px;
  }
  .btn-submit {
    width: 300px;

    height: 48px;
    background: #7a33ff;
    border: 1.5px solid #000000;
    box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    font-size: 20px;
    line-height: 28px;
    margin: 0px;
  }

  .ctn-red-social {
    margin-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .Invitacion {
    padding-left: 10px;
    padding-right: 10px;
  }
  .ctn-text {
    font-size: 20px;
    margin-bottom: 0;
  }
}
body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background-color: black;
  border: solid 2px white;
  border-radius: 18px;
}
