/* <----- TEXT -----> */
.textFriend {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  height: 110px;
}
.titleTouken {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
}
/* <----- TEXT -----> */

.link {
  padding: 5px;
}

/* <----- BTN -----> */
.ctnLink {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7a33ff;
  width: 415px;
  height: 68px;
  border-radius: 50px;
  border: solid 2px black;
}
.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #7a33ff;
  width: 100%;
  color: white;
}
.btn-link:hover {
  background-color: #7a33ff;
  border: none;
}
.logo-btn {
  margin-left: 15px;
}
/* <----- BTN -----> */

.inv-tile {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  font-style: normal;
}
.icon-tile {
  margin-right: 70px;
  transition: all 0.3s ease-out;
}
.icon-tileFinal {
  margin-right: 90px;
  transition: all 0.3s ease-out;
}
.link-inv:hover .icon-tile {
  margin-right: 0px;
  transition: all 0.3s ease-out;
}
.link-inv:hover .icon-tileFinal {
  margin-right: 0px;
  transition: all 0.3s ease-out;
}
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.link-inv:hover .inv-tile {
  border: solid 0px;
  visibility: visible;
  opacity: 1;
  transition: all 0.3s ease-in;
}

/* <----- IMG -----> */
.ctnGifTwo {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 1rem;
  width: 416px;
  height: 211px;
  box-shadow: 10px 5px 0px 0px rgba(189, 153, 255, 1);
  overflow: hiddentext-input;
  margin: 50px 0px 50px 0px;
}
.gifTwo {
  border: solid 2px #befd50;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}
/* <----- IMG -----> */

@media only screen and (max-width: 1920px) {
  .icon-tileFinal {
    margin-right: 115px;
    transition: all 0.3s ease-out;
  }
}

@media only screen and (max-width: 775px) {
  .Invitacion {
    background-image: url("../img/bg-invitacion-responsive.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .titleTouken {
    text-align: center;
    font-size: 20px;
  }
  .textFriend {
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    padding: 0px 15px 0px 15px;
  }
  .ctnGifTwo {
    width: 210px;
    height: 110px;
  }
  .ctnLink {
    width: 328px;
    height: 48px;
  }
  .ctn-red-social {
    height: 51px;
    width: 220px;
    border-radius: 50px;
    margin-bottom: 1rem;
  }
  .link-red-social {
    /* height: 21px; */
    width: 21px;
    border-radius: 0px;
  }
}
@media only screen and (max-width: 360px) {
  .icon-tileFinal {
    margin-right: 80px;
    transition: all 0.3s ease-out;
  }
}
