* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* <----- header -----> */

.ctnTouken {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  width: 100%;
  position: fixed;
}

.icon-touken {
  width: 200px;
  height: 40.87px;
  position: fixed;
}

/* <----- header -----> */

/* <----- main -----> */
.touken {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  background-image: url("../img/bg-large.png");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
}
.link {
  width: 30%;
}
.title-touken {
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  line-height: 75px;
}

.sub-title-touken {
  margin-top: 1rem;
  text-align: center;
  font-weight: 300;
  font-size: 30px;
  line-height: 50px;
}

.ctn-link-touken {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link-text-touken {
  color: #000000;
  text-decoration: none;
  font-size: 48px;
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.link-logo {
  margin-top: 0.5rem;
}
/* <----- main -----> */

/* <----- footer ------> */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 16vh;
}

.imgFooter {
  width: 100%;
}
.myproyect {
  display: flex;
  align-items: center;
}

/* <----- footer ------> */

.btn {
  height: 70px;
  width: 415px;
  left: 20px;
  top: 20px;
  border-radius: 50px;
  padding: 15px 140px 15px 140px;
}

@media only screen and (max-width: 768px) {
  .proyect-touken {
    display: none;
  }
  .title-touken {
    font-size: 32px;
  }
  .sub-title-touken {
    font-size: 30px;
  }
  .link-text-touken {
    font-size: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .link {
    /* margin: 20px 0px 35px 0px; */
    width: 328px;
    height: 48px;
  }
  .link-submit {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .textTouken {
    width: 328px;
    height: 168px;
    margin: 0px 16 0px 16px;
  }
  .title-touken,
  .sub-title-touken {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 328px;
  }
  .ctn-logo-inv {
    margin: 30px 0px 45px 0px;
    width: 156px;
    height: 175px;
  }
  .img-logo-inv {
    width: 100%;
  }
  .link-text-touken {
    margin: 0px 0px 13px 0px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }
  .link-logo {
    width: 50px;
    height: 50px;
  }
  .imgToukenArrow {
    width: 44px;
    height: 40px;
  }

  .titleTouken {
    width: 328px;
    height: 104px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
  .ctnGifTwo {
    margin: 25px 0px 40px 0px;
  }

  .textFriend {
    width: 328px;
    height: 72px;
    font-size: 16px;
    line-height: 24px;
  }

  .link-submit {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
  }
}
